/* cards con characters "container" */
.container {
  text-align: center;
  width: 270px;
  height: 530px;
  margin: 20px;
  margin-top: 50px;
  margin-bottom: 100px;
  padding: 10px;
  background: rgba(141, 136, 136, 0.395);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 15px;
  transition: all 0.5s;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: black;
}

.container:hover {
  background: rgba(0, 0, 0, 0.42);
  border: 1px solid black;
  transform: scale(1.05);
}

.container:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

.container img {
  width: 220px;
  border-radius: 10px;
}

.container h2 {
  color: #f4f4f4;
  text-shadow: 0px 0px 1px black;
  font-weight: bold;
  font-size: 25px;
}

.container h2:hover {
  color: aqua;
  text-shadow: 0px 6px 42px aqua;
}

.container h4 {
  color: #f4f4f4;
  font-size: 20px;
}

.favContainer {
  display: flex;
  position: relative;
  justify-content: left;
  width: 100px;
  margin-top: 1rem;
}

.corazon {
  /* margin-top: -1px; */
  margin-left: 10px;
  position: absolute;
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.corazon:hover {
  filter: drop-shadow(2px 2px 8px black);
  transform: scale(1.2) ;
-webkit-transform: scale(1.2) ;
-moz-transform: scale(1.2) ;
}


.buttonContainer {
  display: flex;
  justify-content: right;
  width: 100px;
  margin-left: 10rem;
}


/* button "X" */
.buttonContainer .borrar {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 50px;
  border: 0;
  background-color: rgba(147, 145, 145, 0.58);
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
}

.buttonContainer .borrar:hover {
  letter-spacing: 3px;
  background-color: hsl(0, 80%, 48%);
  color: hsl(0, 14%, 90%);
  box-shadow: rgb(220, 24, 24) 0px 7px 29px 0px;
}

.buttonContainer .borrar:active {
  letter-spacing: 3px;
  background-color: hsl(0, 80%, 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(220, 24, 44) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}
