/* cards con characters "container" */
.container {
  /* box-sizing: border-box; */
  text-align: center;
  width: 200px;
  height: 420px;
  margin: 20px;
  margin-top: 50px;
  padding: 10px;
  background: rgba(217, 217, 217, 0.58);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 15px;
  /* text-align: center; */
  cursor: pointer;
  transition: all 0.5s;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: black;
}

.container:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.container:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

.container img {
  width: 180px;
  border-radius: 10px;
}

.container h2 {
  color: #086385;
  text-shadow: 0px 0px 1px black;
}

.buttonContainer {
  display: flex;
  justify-content: end;
}

/* button "X" */
.buttonContainer button {
  padding: 10px 20px;
  border-radius: 50px;
  border: 0;
  background-color: rgba(217, 217, 217, 0.58);
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
}

.buttonContainer button:hover {
  letter-spacing: 3px;
  background-color: hsl(0, 80%, 48%);
  color: hsl(0, 14%, 90%);
  box-shadow: rgb(220, 24, 24) 0px 7px 29px 0px;
}

.buttonContainer button:active {
  letter-spacing: 3px;
  background-color: hsl(0, 80%, 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(220, 24, 44) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}
