

.input {
  border: none;
  margin-right: 20px;
  margin-top: 180px;
  margin-bottom: 30px;
  padding: 1rem;
  border-radius: 1rem;
  background: #e8e8e8;
  box-shadow: 20px 10px 20px #056284, -20px -20px 60px #099dd3;
  transition: 0.3s;
}

.input:focus {
  outline-color: #0da1d7;
  background: #e8e8e8;
  box-shadow: 0px 0px 60px #056284, -5px -5px 60px #099dd3;
  transition: 0.3s;
}

/* button "agregar" */
.button {
  height: 45px;
width: 100px;
border-radius: 1rem;
border: 2px solid #000;
cursor: pointer;
background-color: #e8e8e8;
transition: 0.5s;
font-size: 13px;
letter-spacing: 2px;
margin-bottom: 3em;
margin-left: 2rem;
}

.button:hover {
  font-weight: bold;
  background-color: rgb(14, 212, 80);
  box-shadow: 20px 10px 20px rgb(14, 212, 80);
    color: white;
}